<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FIS.model.dao.BoardMapper">

    <insert id="createPost">
        insert into board(title, contents, writer, RegisterDate, hits)
        values(#{title}, #{contents}, #{writer}, now(), 0);
    </insert>

    <select id="getList" resultType="com.example.FIS.model.dto.BoardDto">
        SELECT * FROM board ORDER BY bno DESC;
    </select>

    <select id="getPost" resultType="com.example.FIS.model.dto.BoardDto">
        SELECT * FROM board where bno=#{bno};
    </select>

    <update id="updateHits" parameterType="Integer">
        update board set hits=hits+1 where bno=#{bno};
    </update>

    <delete id="deletePost">
        DELETE from board where bno=#{bno};
    </delete>

    <update id="update">
        update board
        set title=#{title}, contents=#{contents}
        where bno=#{bno};
    </update>

</mapper>