<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FIS.model.dao.LoginMapper">

    <insert id="memberJoin">
        insert into member(id, pw, userName, gender, phone, email, address, registerDate)
        values(#{id}, #{pw}, #{userName}, #{gender}, #{phone}, #{email}, #{address}, now());
    </insert>

    <select id="memberLogin" resultType="com.example.FIS.model.dto.LoginDto">
        SELECT id, pw, userName, gender, phone, email, address, registerDate FROM member where id=#{id} and pw=#{pw};
    </select>

    <update id="updateMemberInfo">
        update member
        set userName=#{userName}, gender=#{gender}, phone=#{phone}, email=#{email}, address=#{address}
        where id=#{id};
    </update>

    <select id="findId" resultType="com.example.FIS.model.dto.LoginDto">
        SELECT id FROM member where userName=#{userName} and phone=#{phone};
    </select>

    <select id="findPw" resultType="com.example.FIS.model.dto.LoginDto">
        SELECT pw FROM member where id=#{id} and userName=#{userName} and phone=#{phone};
    </select>

    <select id="deliveryInfo" resultType="com.example.FIS.model.dto.DeliveryDto">
        select * from delivery where p_user=#{p_user};
    </select>

</mapper>