<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FIS.model.dao.MarketMapper">

    <select id="getProductList" resultType="com.example.FIS.model.dto.MarketDto">
        SELECT * FROM product;
    </select>

    <select id="getProductInfo" resultType="com.example.FIS.model.dto.MarketDto">
        SELECT * FROM product where p_id=#{p_id};
    </select>

</mapper>