<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FIS.model.dao.MarketMapper">

    <select id="getProductList" resultType="com.example.FIS.model.dto.MarketDto">
        SELECT * FROM product;
    </select>

    <select id="getProductInfo" resultType="com.example.FIS.model.dto.MarketDto">
        SELECT * FROM product where p_id=#{p_id};
    </select>

    <insert id="addProduct">
        insert into product(p_id, p_name, p_unitPrice, p_description, p_manufacturer, p_category, p_unitsInStock, p_condition, p_filename, p_user)
        values(#{p_id}, #{p_name}, #{p_unitPrice}, #{p_description}, #{p_manufacturer}, #{p_category}, #{p_unitsInStock}, #{p_condition}, #{p_filename}, #{p_user});
    </insert>

    <delete id="deleteProduct">
        DELETE from product where p_id=#{p_id};
    </delete>

    <update id="updateProduct">
        update product
        set p_id=#{p_id}, p_name=#{p_name}, p_unitPrice=#{p_unitPrice}, p_description=#{p_description}, p_manufacturer=#{p_manufacturer}, p_category=#{p_category}, p_unitsInStock=#{p_unitsInStock}, p_condition=#{p_condition}, p_filename=#{p_filename}
        where p_id=#{p_id};
    </update>

</mapper>