*{
    /* 리스트 항목 점 없애기 */
    list-style: none;
    /* 텍스트 밑줄 없애기 */
    text-decoration: none; 
    /* 테이블 경계선 합치기 */
    border-collapse: collapse;
    /* 간격, 콘텐츠영역(덩치) 기본 0px */
    margin:0;
    padding:0;
    /* 글자색은 검은색 */
    color: #fff;
    /* 글씨체 나눔고딕 https://fonts.google.com/specimen/Nanum+Gothic?subset=korean&query=na#standard-styles */
    font-family: 'Nanum Gothic', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
.wrap {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}
.intro_bg {
    background-image: url("_images/fishing_boat.jpg");
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .intro_bg::after {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    content:"";
    opacity: 0.8;
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 12px;
    font-size: 20px;
}
.nav_logo > a > i {
    color:skyblue;
}
.nav_menu {
    display: flex;
}
.nav_menu > li {
    padding: 8px 20px;
}
.nav_menu > li:hover{
    background-color: rgb(50, 191, 166);
    border-radius: 4px;
}
.intro_text {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 300%;
}
.nav_login {
    font-size: 15px;
}
/* 로그인 페이지 css */
.main_section {
    display: flex;
    justify-content: center;
}
.main_center_screen {
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(80, 210, 249, 0.5);
    flex-grow: 1;
    height: auto;
    width: 450px;
    border-radius: 10px;
    /* 마진 및 페딩 수치 적용순서는 top부터 시계방향(top-right-buttom-left) */
    padding: 30px 0 20px 0; 
}
.main_center_screen > input, button {
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}
.account {
    color:black;
    width: 80%;
}
.box_header {
    color:black;
}