*{
    /* 리스트 항목 점 없애기 */
    list-style: none;
    /* 텍스트 밑줄 없애기 */
    text-decoration: none; 
    /* 테이블 경계선 합치기 */
    border-collapse: collapse;
    /* 간격, 콘텐츠영역(덩치) 기본 0px */
    margin:0;
    padding:0;
    /* 글자색은 검은색 */
    color: black;
    /* 글씨체 나눔고딕 https://fonts.google.com/specimen/Nanum+Gothic?subset=korean&query=na#standard-styles */
    font-family: 'Nanum Gothic', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
.wrap {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 12px;
    font-size: 20px;
}
.intro_bg {
    background-image: url("_images/fishing_boat.jpg");
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .intro_bg::after {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    content:"";
    opacity: 0.8;
} */
.nav_logo > a {
    color: white;
}
.nav_logo > a > i {
    color:skyblue;
}
.nav_menu {
    display: flex;
    margin-left: -120px;
}
.nav_menu > li {
    padding: 8px 20px;
}
.nav_menu > li > a {
    color: white;
}
.nav_login > a {
    color: white;
}
.nav_login > a > i {
    color: white;
}
.nav_menu > li:hover{
    background-color: rgb(50, 191, 166);
    border-radius: 4px;
}
.intro_text {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 300%;
}
#main_text {
    color: rgb(255, 255, 255);    
}
.nav_login {
    font-size: 15px;
}

/* 로그인 페이지 css */
.main_section {
    display: flex;
    justify-content: center;
}
.main_center_screen {
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(80, 210, 249, 0.5);
    flex-grow: 1;
    height: auto;
    width: 450px;
    border-radius: 10px;
    /* 마진 및 페딩 수치 적용순서는 top부터 시계방향(top-right-buttom-left) */
    padding: 30px 0 20px 0; 
}
.main_center_screen > input, button {
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}
.account {
    width: 80%;
}

/* 게시판 페이지 css */
.board_main > h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.board_main {
    width: 1000px;
	margin:auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    line-height: 20px;
}
table td,th {
    border-bottom:1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
th {
    background: rgb(80, 210, 249, 0.5);
}
#button_writing_create {
    text-align: right;
    padding: 10px 0 10px 0;
}
#button_writing_create > input {
    height: 25px;
    width: 50px;
}
.board_title, .board_content {
    width: 100%;
}
.borad_writing_create_button {
    display: flex;
}
.borad_writing_create_button > input {
    flex:1;
    height: 30px;
}
.board_writing_read_content {
    min-height: 350px;
    text-align: left;
}
#read_title {
    text-align: left;
}

/* 지도 */
.location_section {
    height: 100%;
    width: 100%;
}
.map_wrap {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}
.infoWindow {
    margin: 0px;
    padding: 3px;
    text-align: center;
}
.radius_border{border:1px solid #919191;border-radius:5px;}     
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}   
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;} 
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}  
