*{
    /* 리스트 항목 점 없애기 */
    list-style: none;
    /* 텍스트 밑줄 없애기 */
    text-decoration: none; 
    /* 테이블 경계선 합치기 */
    border-collapse: collapse;
    /* 간격, 콘텐츠영역(덩치) 기본 0px */
    margin:0px;
    padding:0px;
    /* 글자색은 검은색 */
    color: #fff;
    /* 글씨체 나눔고딕 https://fonts.google.com/specimen/Nanum+Gothic?subset=korean&query=na#standard-styles */
    font-family: 'Nanum Gothic', sans-serif;
}
.intro_bg {
    background-image: url("_images/fishing_boat.jpg");
    height:937px;
    width:100%;
    background-size:cover;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 12px;
    font-size: 20px;
    
}
.nav_logo > i {
    color:skyblue;
}
.nav_menu {
    display: flex;
    
}
.nav_menu > li {
    padding: 8px 20px;
}
.nav_menu > li:hover{
    background-color: rgb(230, 169, 39);
    border-radius: 4px;
}